<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>IPTC</title>
    <link href="http://jquery-ui-bootstrap.github.io/jquery-ui-bootstrap/css/custom-theme/jquery-ui-1.10.3.custom.css" rel="stylesheet"/>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> -->

    <link href="{{ url_for('static', filename='mycss.css') }}" rel="stylesheet">

  </head>
  <body>

  <div class="container">


<div class="jumbotron">
  <h2>Welcome to product-type reivew</h2>
</div>
    <form id="formcategory" name="formcategory" method="post">
  <div class="form-group">
    <label for="exampleFormControlSelect1">Select catalg</label>
    <select class="form-control" id="exampleFormControlSelect1" name="categoryselection">
      <option>furniture</option>
      <option>baby</option>
      <option>mens_clothing</option>
    </select>
    </div>
        <input class="btn btn-primary" id="submit_button" name="submit_button" type="submit" value="submit">
</form>



  </div>

  </body>
</html>
